@font-face {
  font-family: 'digital-7';
  src: url('./fonts/digital-7.ttf')  format('truetype'), /* Safari, Android, iOS */

}


/*wrapper*/
#mainDiv {
	width: 420px;
	height: 350px;
	border: 3px solid;
	margin: 2px;
	padding: 3px;
	background-image: url('./pictures/round-table-coffeemaker.jpg');
	// background-color: blue;


}
/*button design*/
.buttons, #resultDiv  {

	width: 110px;
	height: 40px;
	z-index: -1;
	float: left;
	margin: 2.2px;
	border: 2px solid black;
	border-radius: 21%;
	border-color: black;
	background-color: #d2d2d3;

	text-align: center;

}
.buttons p {
	cursor: default;
 font-family: impact;
-webkit-touch-callout: none;
-webkit-user-select: none;
/*-khtml-user-select: none; */
-moz-user-select: none;
/* -ms-user-select: none;
user-select: none; */
}
#resultS {
	font-family: 'digital-7', sans-serif;
	font-size: 18px;
	color: green;
	height: 17px;
	width: 104px;
	padding: 5px 0;
	z-index: -1;
	float: left;
	margin: 4px 0px 0px 2.2px;
	border: 1px solid black;
	border-color: darkgray;
	background-color: black;

	text-align: center;

}
